*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav{
    background: purple;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid violet;
}

h2{
    font-weight: bold;
    color: white;
    font-size: 2em;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 10vh);
    background-color: purple;
}

.card{
    display: flex;
    border: 3px solid white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: violet;
    min-width: 25vw;
    min-height: 35vh;
}

#btn{
    background-color: purple;
    color: white;
    border: 2px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bolder;
    margin-bottom: 10px;
}

#btn:hover{
    background-color: white;
    color: purple;
    border: 2px solid purple;
    cursor: pointer;
}

#text{
    height: 24px;
    width: 10vw;
    border: 2px solid purple;
    border-radius: 5px;
    padding: 0px 12px;
    font-family: sans-serif;
    font-weight: bold;
}

#copy{
    background-color: purple;
    color: white;
    border: 2px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bolder;
    margin-top: 10px;
}

#copy:hover{
    background-color: white;
    color: purple;
    border: 2px solid purple;
    cursor: pointer;
}

.rad{
    display: flex;
    flex-direction: columns;
    align-items: center;
    justify-content: center;
}
.rdbtns{
    margin: 10px;

}